* {
    box-sizing: border-box;
} 

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0; 
    z-index: 100;
    width: 100vw; /* 100% */
    height: 100vh; /* 100% */
    background: rgba(0,0,0,0.5);
}

.button {
    margin-top: 0.9rem; /* 10px */
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 2px solid #0e4f1f;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: white;
    color: #0e4f1f;
} 

/* Header styles start */

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2ddf5c;
    padding: 1rem 1rem;
    z-index: 1;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 44px); 
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

/* Brand styles start */

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem; /* 22px */
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    height: 2.5rem;
}

.toggle-button {
    display: none;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }
  
/* Brand styles end */

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item-link,
.mobile-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 3px;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.main-nav__item a:focus  {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
     color: white;
     background: #ff1b68;
     padding: 0.5rem 1rem;
     border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.main-nav__item--cta a:focus,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active,
.mobile-nav__item--cta a:focus {
    color: #ff1b68;
    background: white;
    border: none;
}

/* Header styles end */

/* Footer styles start */

.main-footer {
    background-color: black;
    padding: 2rem;
    margin-top: 3.1rem;
}

.main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer li {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer a {
    text-decoration: none;
    color: white;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
    color: #ccc; 
}

/* Footer styles end */

/* Mobile nav styles start */

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

  /* Mobile nav styles end */

  .open {
    display: block !important;
  }

  /* Styles start for width less than 576px (Apple iPhone 12 Pro Max (428px)) */

  @media (max-width: 36rem) {

    .main-header {
        padding: 0.3rem 0;
        height: 3.5rem;
    }

    .main-header__brand img {
        height: 2.5rem;
        margin-left: 1rem;
    }

    .toggle-button {
        display: inline-block;
    }

    .main-nav__items {
        display: none;
    }

    .main-header__brand {
        height: auto;
    }

    .main-footer li {
        display: block;
        margin: 1rem 0;
    }
  }

/* Styles end for width less than 576px */